@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #FF3F3C;
    --font-family: Inter, sans-serif;
}

body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

header {
    /* Other Properties */
    padding: 32px 32px 20px 32px;
    margin-bottom: 100px;
}

header h1 {
    /* Text */
    font-size: 36px;
    font-weight: 700;

    /* Other Properties */
    margin: 0;
}

main {
    /* Image */
    background: url('images/polaroid.png') no-repeat center 150px;

    /* Alignment */
    margin: 0 auto;

    /* Dimension */
    width: 1161px;
}

h3 {
    width: 1161px;
}

main h3 {
    /* Text */
    font-size: 64px;
    font-weight: 900;
    text-align: center;

    /* Other Properties */
    margin-bottom: 45px;
}

.details h3 {
    margin-top: 350px;
}

.hero {
    /* Alignment */
    text-align: center;

    /* Other Properties */
    min-height: 800px;
}

.hero h2 {
    /* Text */
    font-size: 180px;
    font-weight: 800;
    line-height: 180px;

    /* Other Properties */
    text-transform: uppercase;
    margin: 0;
}

.details p {
    /* Text */
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
}

.list h3 {
    margin-top: 100px;
}

ul {
    /* Text */
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;

    /* Other Properties */
    padding: 0;
}

.list ul li {
    /* Other Properties */
    list-style-type: none;
    margin: 35px 0;
    padding: 0 0 0 70px;
}

.list ul li.wifi {
    background: url('images/wifi-solid.svg') no-repeat center left;
    background-size: 40px auto;
}

.list ul li.cloud {
    background: url('images/cloud-arrow-up-solid.svg') no-repeat center left;
    background-size: 40px auto;
}

.list ul li.qr {
    background: url('images/qrcode-solid.svg') no-repeat center left;
    background-size: 40px auto;
}

.list ul li.photo {
    background: url('images/photo-film-solid.svg') no-repeat center left;
    background-size: 40px auto;
}

.cta h3 {
    margin-top: 100px;
}

form {
    /* Color */
    background: linear-gradient(180deg, #E2E2E2 0%, #D6D7D6 100%);

    /* Dimension */
    width: 1050px;
    height: 96px;
    
    /* Other Properties */
    border-radius: 40px;
    padding: 45px 51px 45px 51px;
    margin: 0 0 172px 0;
}

#email-input {
    /* Color */
    background-color: #ECECEC;
    color: #424242;

    /* Diimensions */
    width: 739px;
    height: 96px;
    
    /* Text */
    font-size: 24px;
    font-weight: 400;
    
    /* Other Properties */
    border: 0px;
    padding-left: 34px;
}

#kit-submit {
    /* Colors */
    background-color: #FF3F3C;
    color: #FFFFFF;

    /* Dimensions */
    width: 254px;
    height: 96px;

    /* Text */
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;

    /* Other Properties */
    border: none;
    margin-left: 16px;
    padding: 20px;
}